div.footer {
    background-color: #222222;
    bottom: 0px;
    color: #E8E8E8;
    font-size: 12px;
    height: 14px;
    left: 0px;
    margin: 0px;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    right: 0px;
    text-align: right;
    white-space: nowrap;
}

div.footer a {
    color: #D58512;
    text-decoration: none;
    font-weight: 400;
}

div.footer a:hover {
    font-weight: 900;
}

div.footer-server-description {
    float: left;
}

span.footer-server-status {
    color: #FF3333;
    font-weight: 900;
}