/* Geral */
html {
    font-family: monospace;
    font-size: 15px;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    color: #D58512;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

/* Header */
div#header {
    background-color: #222222;
    height: 33px;
    left: 0px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.header-logo {
    float: left;
    height: 25px;
    margin-left: 4px;
    margin-right: 10px;
    margin-top: 4px;
    width: 25px;
}

a.header-link {
    background-color: #222222;
    color: #D58512;
    float: left;
    margin-top: 2px;
    font-weight: 400;
    padding: 5px 15px;
    text-decoration: none;
}

a.header-link:hover {
    font-weight: 900;
}

span.auth-info {
    float: right;
    margin: 6px 4px;
}

input[type=button].auth-button {
    background-color: #111111;
    border: #000000 thin solid;
    border-radius: 5px;
    color: #D58512;
    font-weight: 400;
    float: right;
    height: 29px;
    margin: 2px;
    width: 70px;
}

input[type=button].auth-button:hover {
    font-weight: 900;
}

select#i18n-selector {
    background-color: #333333;
    border: #000000 thin solid;
    color: #DDDDDD;
    float: right;
    margin: 2px;
    padding: 5px 4px;
}

/* Main */
div#main {
    background-color: #000000;
    bottom: 18px;
    color: #E8E8E8;
    left: 0px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 43px;
}

/* Footer */
div.footer {
    background-color: #222222;
    bottom: 0px;
    color: #E8E8E8;
    font-size: 12px;
    height: 14px;
    left: 0px;
    margin: 0px;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    right: 0px;
    text-align: right;
    white-space: nowrap;
}

div.footer-server-description {
    float: left;
}

span#footer-server-status {
    color: #FF3333;
    font-weight: 900;
}

a.footer-link {
    color: #D58512;
    text-decoration: none;
    font-weight: 400;
}

a.footer-link:hover {
    font-weight: 900;
}

/* Modal */
div.modal-area {
    background-color: #FFFFFF44;
    bottom: 0px;
    left: 0px;
    padding-top: 10%;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    z-index: 10000;
}

div.modal-box {
    background-color: #222222;
    border: 2px solid #FFCC66;
    border-radius: 5px;
    color: #FFFFFF;
    margin: auto;
    min-width: 300px;
    width: fit-content;
}

div.modal-header {
    background-color: #222222;
    border-bottom: 2px solid #FFCC66;
    font-weight: 900;
    padding: 4px;
}

span.modal-tab {
    background-color: #222222;
    color: #D58512;
    cursor: pointer;
    font-weight: 400;
    padding: 0px 10px;
    text-decoration: none;
}

span.modal-tab:hover {
    font-weight: 900;
}

div.modal-tabs {
    background-color: #222222;
    padding-top: 5px;
}

div.modal-body {
    background-color: #000000;
    font-size: 12px;
    padding: 12px;
}

div.modal-footer {
    background-color: #222222;
    padding: 5px;
}

input[type=button].modal-button {
    background-color: #111111;
    border: #000000 thin solid;
    border-radius: 5px;
    color: #D58512;
    font-weight: 400;
    margin: 2px;
    min-width: 75px;
    padding: 4px 10px;
}

input[type=button].modal-button:hover {
    font-weight: 900;
}

/* Loading */
div#loading-screen {
    background-color: #FFFFFF;
    bottom: 0px;
    color: #000000;
    display: none;
    left: 0px;
    opacity: 0.4;
    padding-top: 10%;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    z-index: 10000;
}