<div class="container-fluid fixed-top bg-dark-subtle opacity-75 p-1">
    <a routerLink="/home">
        <img alt="Souza.eti.br" src="images/favicon.png" height="32" width="32"/>
    </a>
    <a routerLink="/home" class="btn btn-sm btn-outline-light ps-4 pe-4 ms-2" role="button">{{i18n.get("home")}}</a>
    @if (status.isServerOnline()) {
        <a routerLink="/games" class="btn btn-sm btn-outline-light ps-4 pe-4 ms-2" role="button">Jogos</a>
    }
    <ams-language-selector></ams-language-selector>
</div>