<div class="fixed-top header" data-bs-theme="dark">
    <a href="/#/home"><img class="logo" alt="Souza.eti.br" src="images/favicon.png"/></a>
    <a href="/#/home" class="btn btn-dark {{isRoute('home') ? 'active' : ''}}">{{i18n.get("home")}}</a>
    <a href="/#/teste" class="btn btn-dark {{isRoute('teste') ? 'active' : ''}}">Teste</a>
    <span class="dropdown">
        <a class="btn btn-dark dropdown-toggle {{isRouteStartsWith('apis/') ? 'active' : ''}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            APIs
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item {{isRoute('apis/api01') ? 'active' : ''}}" href="/#/apis/api01">API 01</a></li>
            <li><a class="dropdown-item {{isRoute('apis/api02') ? 'active' : ''}}" href="/#/apis/api02">API 02</a></li>
        </ul>
    </span>
    <div class="dropdown selector-language">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{getLanguage()}}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="i18n.language = 'en';">English</a></li>
            <li><a class="dropdown-item" (click)="i18n.language = 'es';">Español</a></li>
            <li><a class="dropdown-item" (click)="i18n.language = 'pt';">Português</a></li>
        </ul>
    </div>
</div>