* {
    font-size: 12px;
}

div.footer {
    background-color: #222222;
    bottom: 0px;
    height: 15px;
    left: 0px;
    margin: 0px;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    right: 0px;
    text-align: right;
    white-space: nowrap;
}

div.server-description {
    float: left;
}