div.loading-screen {
    background-color: #FFFFFF;
    bottom: 0px;
    color: #000000;
    left: 0px;
    opacity: 0.4;
    padding-top: 10%;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    z-index: 10000;
}