@import "bootstrap-icons/font/bootstrap-icons.min.css";

* {
    font-family: monospace;
    color: #E8E8E8;
}

html {
    background-color: #000000;
    font-size: 15px;
}

a {
    color: #D58512;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

select {
    background-color: #333333;
    border: #000000 thin solid;
    color: #DDDDDD;
    float: right;
    margin: 2px;
    padding: 5px 4px;
}

.container {
    padding: 25px;
    text-align: center;
}

.color-orange {
    color: #D58512;
}